<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.oxygenxml.table.svg.report">
  <feature extension="package.support.name" value="Oxygen XML Editor Support"/>
  <feature extension="package.support.email" value="support@oxygenxml.com"/>
  
  <feature extension="dita.xsl.xhtml" value="xsl/xhtmlSVG.xsl" type="file"/>
  <feature extension="dita.conductor.xhtml.param" value="insertParameters.xml" type="file"/>
  
  <feature extension="dita.xsl.html5" value="xsl/xhtmlSVG.xsl" type="file"/>
  <feature extension="dita.conductor.html5.param" value="insertParameters.xml" type="file"/>
  
  <feature extension="com.oxygenxml.pdf.css.xsl.merged2html5" value="xsl/xhtmlSVG.xsl" type="file"/>
  <feature extension="com.oxygenxml.pdf.css.xsl.merged2html5.parameters" value="insertParameters.xml" type="file"/>
  
  <feature extension="dita.xsl.xslfo" value="xsl/pdfSVG.xsl" type="file"/>
</plugin>
